@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body{
    overflow-y: hidden;
}

main{
    background-image: url('img/img-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
    
}

.modal{
    z-index: 99;
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-color: #00000079;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center; 
    font-family: 'Lato', sans-serif;


    
    
}

.modal-content{
    z-index: 9999;
    background-color: #fff;
    margin-top: 50px;
    border-radius: 5px;
    width: 400px;
    height: 80vh;
}

.body-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.body-modal .img-modal{
    background-image: url('img/perfil-01.jpg');

    width: 100%;    
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;

    

}

.align-bars{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
}

.principal-title h2{
    font-family: 'lato', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 100%;
}

.principal-title i {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    padding: 12px;
}

.principal-title{
    /* background-color:  #ffffff20; */
    background-color: #0e0e0e62 !important ;
    border-radius: 10px 10px 0px 0px;
    
}
.scroll-bar{
    overflow-y: auto;
    height: 90vh;
}

body .scroll-bar::-webkit-scrollbar {
    width: 5px;
    
}

body .scroll-bar::-webkit-scrollbar-track {
    background: none;       
    
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: transparent;
    
    
}

body .scroll-bar::-webkit-scrollbar-thumb {
    background-color: #ffffff5d;    
    border-radius: 20px;    
    border: none;    
}



.vertical-bar {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    user-select: none;
    height: 100%;
    
}

.task{
    width: 450px;
}

.align-task{
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.bar-squad{
    max-width: 150px;
}

.card-user{
    border-radius: 5px;
    margin: 0px 5px 5px 5px;
    transition: 200ms;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px) ;
    background-color: #ffffff25 !important;
}

.perfil{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: 300ms;

    text-decoration:  none;

    background-color: transparent;
    border-radius: 10px;
    border: none;    
}

.perfil .icon{
    background-image: url('img/perfil-01.jpg');
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.perfil .infos-perfil h2{
    color: #ffffffcc;
    font-size: 1rem;
    margin: 0;
}

.perfil .infos-perfil .status{
    color: #ffffff80;
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.set-status{
    width:  10px;
    height: 5px;
    border-radius: 10px;
    /* background-color: #23d30b; */
}

.card-user:hover{
   background-color: #0e0e0e62 !important ;
}

.card-user:hover .btn-attr{
    opacity: 100%;
    transition: 300ms;
}

/* task  */

.lb-activity{
    cursor: text;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.842);
    text-align: justify;
    border: none !important;
    word-break: break-word;
    width: 100%;
    box-shadow: 0 0 0 0;
    outline: 0;
    
}

.lb-activity[contenteditable] .div-task{
    border: 1px solid #11b3f3 !important;
}



.check-task:checked .lb-activity{
    text-decoration: line-through;
    color: #8d8d8d;
    /* background-color: #4444441e; */
}

.div-task input[type="checkbox"]:hover{
    cursor: pointer;

}


.div-task{
    padding: 5px;
    margin: 0px 10px 10px 10px;
    border: 1px solid #ffffff2c;
    background-color: #31323594;
    border-radius: 5px;
}

.div-task:hover .actions-task{
    display: flex;
}

.div-task:hover .lb-activity{
    color: #c4c4c4;
}

.actions-task{
    
    display: none;
    gap: 5px;
    justify-content: flex-end;
    
}

.actions-task button{
    font-size: 0.8rem;
    border: 1px solid #ffffff7a;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #ffffff6b;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-bottom: -25px;

}

.button-move{
    color: #f7f7f7;
}
 
.button-trash{
    color: #f7f7f7;
}

.button-move:hover{
    color: #f0bb6c;
    background-color: #3a3a3a;
    cursor: grab;
}
 
.button-trash:hover{
    color: #fd6060;
    background-color: #3a3a3a;
}
/* task  */


.image-modal{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.modal-header{
    background-image: url('img/perfil-01.jpg');
    height: 250px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px !important;
    flex-direction: column;
}

.modal-header button{
    margin: -35px !important;
    color: #fff !important;
    background-color: #fff !important;
}

.modal-header button:focus{
    background-color: rgba(255, 255, 255, 0.199) !important;
    box-shadow: none;
}

.modal-content{
    font-family: 'Lato', sans-serif;
}


.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-body .user-surname{
    font-size: 1.2rem;
    font-weight: 600;
    color: #3a3a3a;
    
}

.modal-body .user-office{
    font-size: 1rem;
    font-weight: 600;
    color: #164b0ffa ;
    padding: 2px 5px;
    border-radius: 5px;
    
    background-color: #22d30b34;
}
